<ion-view view-title="my bookings" >
  <ion-content id="my_bookings">
    <div id="intro">
      Glisser pour annuler
    </div>
    <ion-list can-swipe="true" id="booking_list">
      <ion-item class="booking_card" ng-repeat="booking in bookings">
        <div class="booking_data">
          <div class="booking_info">
            <div class="title">{{booking.shop}}</div>
            <div class="booking_details">
              <div class="booking_detail icon-left ion-calendar"> {{booking.date | date: 'dd/MM/yyyy'}} à {{booking.hour}}
              </div>
              <div class="booking_detail icon-left ion-android-people">  {{booking.amount}} personnes
              </div>
            </div>
          </div>
          <div class="booking_category">
            <img src="img/glasses.png"/>
          </div>
        </div> <!-- <div class="booking_info"> -->
        <div class="go_there_button icon-left ion-arrow-return-right">  y aller
        </div>
        <ion-option-button class="button-assertive icon ion-trash-a" ng-click="remove(booking.id)"></ion-option-button>
      </ion-item>
    </ion-list>
    <div class="spacer"/>
  </ion-content>
</ion-view>