<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<!-- <ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Projects" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/projects">
    <ion-nav-view name="tab-projects"></ion-nav-view>
  </ion-tab>
  <ion-tab title="todo list" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/todoList">
    <ion-nav-view name="tab-todoList"></ion-nav-view>
  </ion-tab>

</ion-tabs> -->

<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="Home" icon="ion-home" href="#/tab/connect">
    <ion-nav-view name="tab-connect"></ion-nav-view>
  </ion-tab>

  <ion-tab title="About" icon="ion-ios-information" href="#/tab/dashboard">
    <ion-nav-view name="tab-dashboard"></ion-nav-view>
  </ion-tab>
</ion-tabs>